.lists::-webkit-scrollbar {
  display: none;
}

.close {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 0.01rem solid #020C26 !important;
  border-radius: 0.4rem;
  opacity: 1;
  color: #020C26;
  padding: 0.8rem 1.5rem 0.8rem 1.5rem;
  font: normal normal bold 0.625rem Exo;
  letter-spacing: 0rem;
}

ul {
  list-style-type: none;
}

li a {
  color: #020C26;
  display: block;
  text-align: left;
  text-decoration: none;
  float: left;
  padding: 0.8rem;
  font: normal normal normal 1.25rem Exo;
  letter-spacing: 0rem;
  opacity: 1;
  margin-right: 6rem !important;
}

li>.active {
  font: normal normal bold 1.25rem Exo;
  color: #020C26;
}
