.inputcustom {
  border: none;
  width: 100%;
  outline: unset;
}

.inputstyle {
  background: #FFFFFF;
  box-shadow: 0rem 0.25rem 0.5rem #00000014;
  border-radius: 0.5rem;
  opacity: 1;
  border: none;
  padding: 1.25rem;
  border-color: white;
  text-align: left !important;
  font: normal normal normal 1.25rem Exo;
  width: 100%;
  margin: 1rem 0rem 1rem 0rem;
}








/* @media screen and (max-width: 480px) {
    a {
      padding-bottom: 0rem;
    }
    input > .form-control{
  margin-bottom: -20rem;
    }
  } */

.carouselHeading {
  text-align: left;
  font: normal normal bold 1.6rem Exo;
  letter-spacing: 0rem;
  color: #020C26;
  opacity: 1;
  padding-left: 1rem;
}

.carouselContent {
  text-align: left;
  font: normal normal normal 1rem Exo;
  letter-spacing: 0rem;
  color: #707070;
  opacity: 1;
  padding-left: 1rem;
}

.carouselInfo {
  box-shadow: black 0.1rem;
}

/* .carousel-cell>.carousel-dots {
    border: 2px solid #343a40;
    border-radius: 100px;
    display: inline-block;
    height: 8px;
    margin: 4px;
    width: 8px;
  } */

/* .carousel-cell{
    background-color: #020C26 !important;
  }
  
  .carousel-dot{
    background-color: red !important;
  } */

.carousel.carousel-dot {
  border: 0.1rem solid #777 !important;
}

.carousel.carousel-dot-active {
  background-color: #777 !important;
  ;
}

.carousel.carousel-arrow {
  background-color: #777 !important;
}
